<ion-view title="{{ detailTitle }}">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button ng-show="edit" class="button button-assertive" ng-click="deleteMeeting()">DELETE
      </button>
      <button ng-show="edit" class="button button-balanced" ng-click="editMeeting()">CONFIRM
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list padding">
     
      <div class="list">
       <label class="item item-input item-select">
          <div class="input-label">
            Building
          </div>
          <select name="multiSelect" ng-model="my.users" ng-options="opt as opt for opt in users">
          
          
          </select>
        </label>
     </div>
 
     <div class="list">
       <label class="item item-input item-select">
          <div class="input-label">
            Building
          </div>
          <select name="singleSelect" ng-model="my.selectedBuilding" ng-options="opt as opt for opt in building">
          
          
          </select>
        </label>
     </div>
 
      <label class="item item-input-inset">
        <input type="text" placeholder="Desired Floor" ng-model="my.selectedFloor">
      </label>
      <label class="item item-input-inset">
        <input type="text" placeholder="Capacity" ng-model="my.selectedRoom">
      </label>
    </div>
    <div class="list padding">
      <label class="item item-input-inset">
        <input type="text" placeholder="Subject" ng-model="my.subject" ng-value="" name="subject">
      </label>
      <label class="item item-input-inset">
        <textarea id = "myTextArea"
                  rows = "3"
                  cols = "80"
                  placeholder="Description" ng-model="my.description" ng-value="" name="description"></textarea>
      </label>
    </div>
    <div class="list padding row">
      <label class="item item-input col">
        <input type="time" name="input" ng-model= "my.startTimeRange"
          placeholder="HH:mm:ss" required />
      </label>
      <label class="item item-input col">To
      </label>
      <label class="item item-input col">
        <input type="time" name="input" ng-model="my.endTimeRange"
          placeholder="HH:mm:ss" required />
      </label>
    </div>
    <div class="list padding row">
      <label class="item item-input col">
        <input type="date">
      </label>
      <label class="item item-input col col-offset-10">
        <input type="number" placeholder="Duration in hours" ng-model="my.duration">
      </label>
    </div>
    
    <!--Submit Button-->

    <div class="padding" ng-show="!edit" >
      <button class="button button-block button-positive" ng-click="createMyMeeting()">Create</div>
    </div>  
  </ion-content>
</ion-view>
