<ion-view title="Today's Meetings">
  <ion-nav-bar class="bar-dark">
  </ion-nav-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
      <ion-item ng-repeat="item in items" item="item"  ng-click="detailNav()">
        <h2>{{ item.description }}</h2>
        <h3>{{ item.organizerName.first }} {{ item.organizerName.last }}</h3>
        <p>{{ item.status }}, {{ item.isRepeating }}</p>
        <p>01:00 PM</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <button class="button button-assertive" ng-click="createMeeting()">CREATE MEETING</button>
  </ion-footer-bar>
</ion-view>
